@model ProductCreateVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Horizontal Form</h4>
            <p class="card-description"> Horizontal form layout </p>
            <div class="text-danger" asp-validation-summary="All"></div>
            <form method="post" class="forms-sample" enctype="multipart/form-data">
                <div class="form-group row">
                    <label asp-for="@Model.Product.ProductName" class="col-sm-3 col-form-label">Product Name</label>
                    <div class="col-sm-9">
                        <input asp-for="@Model.Product.ProductName" class="form-control"  placeholder="Product Name">
                        <span asp-validation-for="@Model.Product.ProductName"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.Product.Price" class="col-sm-3 col-form-label">Price</label>
                    <div class="col-sm-9">
                        <input asp-for="@Model.Product.Price" type="number" class="form-control"  placeholder="Price">
                        <span asp-validation-for="@Model.Product.Price"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.Product.Discount" class="col-sm-3 col-form-label">Discount</label>
                    <div class="col-sm-9">
                        <input asp-for="@Model.Product.Discount" type="number" class="form-control"  placeholder="Discount">
                        <span asp-validation-for="@Model.Product.Discount"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.Product.Count" class="col-sm-3 col-form-label">Count</label>
                    <div class="col-sm-9">
                        <input asp-for="@Model.Product.Count" type="number" class="form-control"  placeholder="Count">
                        <span asp-validation-for="@Model.Product.Count"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.Product.ProductCode" class="col-sm-3 col-form-label">Product Code</label>
                    <div class="col-sm-9">
                        <input asp-for="@Model.Product.ProductCode" type="text" class="form-control"  placeholder="Product Code">
                        <span asp-validation-for="@Model.Product.ProductCode"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.Tag" class="col-sm-3 col-form-label">Product Tags</label>
                    <div class="col-sm-9">
                        <input asp-for="@Model.Tag" type="text" class="form-control"  placeholder="Product Tags">
                        <span asp-validation-for="@Model.Tag"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.Product.Description" class="col-sm-3 col-form-label">Description</label>
                    <div class="col-sm-9">
                        <textarea asp-for="@Model.Product.Description" class="form-control" cols="30" rows="10"></textarea>
                        <span asp-validation-for="@Model.Product.Description"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.Color.ColorName" class="col-sm-3 col-form-label">Select Color</label>
                    <select asp-for="@Model.Color.ColorName" asp-items='@(new SelectList((List<Color>)ViewBag.Colors, "ColorName", "ColorName"))'></select>
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.Size.SizeName" class="col-sm-3 col-form-label">Select Size</label>
                    <select asp-for="@Model.Size.SizeName" asp-items='@(new SelectList((List<Size>)ViewBag.Sizes, "SizeName", "SizeName"))'></select>
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.Composition.Id" class="col-sm-3 col-form-label">Select Composition</label>
                    <select asp-for="@Model.Composition.Id" asp-items='@(new SelectList((List<Composition>)ViewBag.Compositions, "Id", "Name"))'></select>
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.Category.CategoryName" class="col-sm-3 col-form-label">Select category</label>
                    <select asp-for="@Model.Category">
                        @foreach (var item in (List<Category>)ViewBag.Categories)
                        {
                            @if (item.SubCategories.Any())
                            {
                                <option  value="@item.Id">@item.CategoryName</option>
                                    @foreach (var sub in item.SubCategories)
                                    {
                                        @if (sub.SubCategories.Any())
                                        {
                                            <option value="@sub.Id">--@sub.CategoryName</option>
                                        }
                                    }
                            }
                        }
                    </select>
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.Photos" class="col-sm-3 col-form-label">Select image</label>
                    <div class="col-sm-9">
                        <input asp-for="@Model.Photos" accept="image/*" multiple/>
                        <span asp-validation-for="@Model.Photos"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <input type="submit" class="btn btn-primary mr-2"value="Submit"/>
                    <button asp-action="index" class="btn btn-light">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

