@model ProductVM
<div class="col-lg-3">
    <div class="shop-sidebar">
        <div class="shop-sidebar-widget mt-30">
            @if (Model.CategoryId == null)
            {
                <h5 class="shop-sidebar-title">All categories</h5>
                <div class="accordion" id="accordionExample">
                    @foreach (var item in ViewBag.Categories)
                    {
                        if (item.ParentId == null)
                        {
                            <div class="card">
                                <div class="card-header" id="heading@(item.Id)">
                                    <a href="#" data-toggle="collapse" data-target="#collapse@(item.Id)" aria-expanded="false" aria-controls="collapse@(item.Id)">@item.CategoryName</a>
                                   
                                </div>
                                <div id="collapse@(item.Id)" class="collapse" aria-labelledby="heading@(item.Id)" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <ul class="category-list">
                                            @foreach (var sub in item.SubCategories)
                                            {
                                                <li><a href="#">@sub.CategoryName</a></li>
                                                @foreach (var subSub in sub.SubCategories)
                                                {
                                                    <li><a href="#">--@subSub.CategoryName</a></li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- card -->
                        }
                    }
                </div> <!-- accordion -->
            }
            else
            {
                <h5 class="shop-sidebar-title">@ViewBag.Category.CategoryName</h5>
                <div class="accordion" id="accordionExample">
                    @foreach (var item in ViewBag.Category.SubCategories)
                    {
                            <div class="card">
                            <div class="card-header" id="heading@(item.Id)">
                                <a href="#" data-toggle="collapse" data-target="#collapse@(item.Id)" aria-expanded="false" aria-controls="collapse@(item.Id)">@item.CategoryName</a>
                                
                            </div>
                            <div id="collapse@(item.Id)" class="collapse" aria-labelledby="heading@(item.Id)" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul class="category-list">
                                        @foreach (var sub in item.SubCategories)
                                        {
                                            <li><a>@sub.CategoryName</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- card -->
                    }
                </div> <!-- accordion -->
            }
        </div> <!-- Shop sidebar Category -->

        <form asp-action="index">
            <div class="shop-sidebar-widget mt-30">
                <h5 class="shop-sidebar-title">Color</h5>
                <ul class="color-list">
                    @foreach (var item in ViewBag.Colors)
                    {
                        <div class="row">
                            <input type="checkbox" name="Colors[@item.Id]"/>
                            <li><a><span class="@(item.ColorBootstrapClass)"></span>@(item.ColorName)(@(item.ProductCounts.Count))</a></li>
                        </div>
                    }
                </ul>
            </div> <!-- Shop sidebar color -->

            <div class="shop-sidebar-widget mt-30">
                <h5 class="shop-sidebar-title">Compositions</h5>
                <ul class="compositions-list">
                    @foreach (var item in ViewBag.Compositions)
                    {
                        <div class="row">
                            <input type="checkbox" name="Compositions[@item.Id]"/>
                            <li><a><span></span>@(item.Name)(@(item.ProductCounts.Count))</a></li>
                        </div>
                    }
                </ul>
            </div> <!-- Shop sidebar color -->

            <div class="shop-sidebar-widget mt-30">
                <h5 class="shop-sidebar-title">Price </h5>
                <div class="price-range">
                    <input name="Price" type="text" id="amount">
                    <div id="slider-range"></div>
                </div>
            </div> <!-- Shop sidebar color -->

            <div class="shop-sidebar-widget mt-30">
                <h5 class="shop-sidebar-title">Size </h5>
                <ul class="size-list">
                    @foreach (var item in ViewBag.Sizes)
                    {
                        <div class="row">
                            <input type="checkbox" name="Sizes[@item.Id]"/>
                            <li><a><span></span>@(item.SizeName)(@(item.ProductCounts.Count))</a></li>
                        </div>
                    }
                </ul>
            </div> <!-- Shop sidebar Size -->

            <input asp-for="IsFiltered" type="checkbox" hidden  checked>

            <div class="row justify-content-center m-3">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-outline-primary">Filter</button>
                </div>
            </div>
        </form>

        

        <div class="banner-image banner-2 mt-30">
            <a href="#"><img src="~/assets/images/banner-10.jpg" alt="banner"></a>
        </div> <!-- banner image -->
    </div> <!-- Shop sidebar -->
</div>